spring:
  datasource:
    url: jdbc:h2:mem:mydb
    username: lifty
    password: lifty
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8080/realms/currency-realm}
          authorities-claim-name: ${AUTH_CLAIM_NAME:realm_access.roles}
          authority-prefix: ${PREFIX:ROLE_}